/* .coffee-image__section img {
  background-image: url('../images/coffee_bkg_img.jpg');
  border-radius: 20px;
  overflow: hidden;
  height: 300px;
  object-fit: contain;
  background-color: red;
  background-blend-mode: multiply;
} */