.footer {
  margin-top: 50px;
}

.footer__nav {
  display: flex;
  justify-content: flex-end;
}

.footer__links {
  font-size: 0.9em;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: space-between;
  padding: 8px 10px;
}

.footer__links:hover {
  background-color: #F3605F;
  border-radius: 20px;
  /* border: 1px solid #F3605F */
}

.footer__text {
  margin: 8px 0 0 0;
  display: inline;
  font-size: 0.9em;
  position: relative;
  left: -80px;
}

@media screen and (max-device-width: 420px) {
  .footer__text {
    left: -30px;
  }
}