body {
  padding: 100px 0;
  font-family: "Archivo", sans-serif;
  background-image: url("../images/coffee_bkg_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  width: 400px;
  /* width: 80%; */
  margin: 0 100px;
  padding: 50px 20px 40px 20px;
  border-radius: 40px;
}

.page__text {
  color: rgb(247, 246, 246);
}

.clear-item {
  position: relative;
  left: 290px;
  margin-right: 5px;
  background-color: #fbd5d5;
  border-radius: 7px;
  border: 1px solid #F3605F;
  font-size: 0.9em;
  padding: 7px 7px;
  color: #300b07;
  box-shadow: 2.7px 6.4px 6.4px hsl(0deg 0% 0% / 0.15);
  transition: ease-in-out .2s;
}

.clear-item:hover {
  box-shadow: 1.7px 3.4px 3.4px hsl(0deg 0% 0% / 0.05);
}

.history__items {
  border: 1px solid #F3605F;
  border-radius: 10px;
  padding: 10px;
}

@media screen and (max-device-width: 420px) {
  body {
    padding: 0;
  }

  .page {
    max-width: 90%;
    margin: 0 auto;
    border-radius: 0;
  }

  .clear-item {
    position: relative;
    left: 60vw;
  }
}
