
@media screen and (min-width: 400px){
  .total__section {
    width: 350px
  }
}

.total__section {
  margin-top: 50px;
  border: 1px solid orange;
  border-radius: 20px;
  padding: 10px 20px;
  width: 90%;
}

.total__section--title {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0;
}

.total__section--amount {
  font-size: 2em;
  margin-top: 10px;
}